[flake8]
ignore = 
    # H401: docstring should not start with a space
    H401

exclude =
    .git,
    .gitignore,
    .coverage,
    docker-entrypoint.sh,
    Dockerfile,
    pytest.ini,
    requirements-dev.txt,
    requirements-sbat.txt,
    /home/travis/virtualenv/python2.7.10/lib/python2.7/site-packages/

max-complexity = 10